<h1>Name: </h1>
<%= "My name is Vanessa." %>
<br/>
<h1>Year: </h1>
<%= "I am a senior." %>
<br/>
<h1>Fun Fact: </h1>
<%= "I was born in Bogotá, Colombia." %>
<br />
<h1>What I am most excited about: </h1>
<%= "Building cool things... and eventually making a glorious flaming hot cheetos appreciation page!" %>
<br />
<%= image_tag("meandmine.png", :size => '187x333') %>
<br />
